/*normalize*/


@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* PALETA

rgb(221, 221, 221)  BLNCO
rgb(210, 233, 233)   verde tirando a blanco
rgb(17, 60, 74)     verder
rgb(38, 90, 92)    verde mas claro
rgb(63, 123, 112)  verder ma claro


*/




html {
  font-size: 70%;
  /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  font-family: 'Tilt Warp', cursive;
  color: rgb(0, 223, 162);
}

/* botones  */
.none {
  display: none;
}



/* fondo */
body {
  /* background-image:linear-gradient(rgb(255, 0, 96),transparent); */
  background-color: rgb(255, 0, 96);
  width: 100%;
  height: 100%;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
margin: 20px;

}












/* subtitulo dinamico */
.subtitulo-dinamico {
  display: flex;
  list-style: none;
  justify-content: center;

}

#subtitulo {
  width: 100%;
}

.subtitulo-dinamico>li {
  font-weight: 500;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow:10px -10px 10px rgb(246, 250, 112); */
  transition: transform 0.5s ease-in-out;

}





.subtitulo-dinamico:hover li:nth-child(odd) {
  transform: skewY(-15deg);
}

.subtitulo-dinamico:hover li:nth-child(even) {
  transform: skewY(15deg);
}


/* FOMULARIO           */
form {
width: 80%;
  flex: 40%;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  background-image: url("../img/spiderman-gd3c7c6227_640.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;

  box-shadow: 2em 1em gold;
  backdrop-filter: blur(50px);
  border-radius: 10px;
  border: thin solid rgb(246, 250, 112);
}
input {
  border-radius: 10px;
  accent-color: rgb(0, 223, 162);
  ;
  display: block;
  background: transparent;
  padding: 1rem;
  border: none;
  color: rgb(0, 223, 162);
  font-family: inherit;
  width: 100%;
  text-align: start;
  /* text-transform: uppercase; */
}

input::placeholder {
  text-transform: uppercase;
  color: rgb(0, 223, 162);
}

input:out-of-range {
  font-size: larger;
  text-shadow: 1px 0px 1px rgb(17, 60, 74);
  color: rgb(223, 46, 56);
}

fieldset {
  width: 100%;
  border: none;
  padding: 1rem;
  background-color: rgba(223, 46, 56, 0.4);
  text-align: start;
  display: flex;
  flex-direction: row;
  align-items: center;
}
fieldset>input{
  width:25%;
}

fieldset:hover {
  background-color: rgb(0, 121, 255);
}

input:hover {
  background-color: rgb(0, 121, 255);
}

select {
  width: 100%;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  color: rgb(0, 223, 162);
}

select>option {
  background-color: rgb(255, 0, 96);
  border: none;
  border-radius: 10px;
  color: rgb(0, 223, 162);
}

select>option:focus {
  background-color: transparent;
  border: none;
  border-radius: 10px;
  background-color: rgb(0, 121, 255);
}

form>button {
  background-color: rgb(0, 121, 255);
  color: rgb(246, 250, 112);
  padding: 1rem;
  margin: 1rem;
  text-align: center;
}
input[type="button"]{
  background-color: rgb(0, 121, 255);
  color: rgb(246, 250, 112);
  padding: 1rem;
  margin: 1rem;
  text-align: center;
}

/*SPINNER*/
#spinner i{
  font-size: 3rem;
  width:50%;
  height: 50px;
}

/*dialog  */
dialog {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin:auto;
  border: none;
  border-radius: 10%;
  padding: 1rem;
  width: 70vw;
  height: 20vh;
  background-color:gold;
  backdrop-filter: blur(100px);
  color: rgb(0, 121, 255);
  text-transform: uppercase;
  text-align: center;

}

/* tabla */
#section-tabla {
  flex: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  margin: 0.5rem;
  width: max-content;


}

td {
  border-bottom: thin solid rgb(0, 223, 162);
  text-align: right;
  padding: 0 10px;
  ;
}

th::first-letter {
  text-transform: uppercase;
}

#section-tabla>table>thead>tr {
  height: 30px;
  background-color: rgb(0, 223, 162);
  color: rgb(255, 0, 96);
  border: 2px solid rgb(0, 223, 162);
  margin: 0;
  padding: 0;

}

tr:hover {
  background: rgba(164, 188, 146, 0.486);
}

/* NAV HEADER  */
#header-nav {

  width: 100vw;
  background-color: rgb(0, 121, 255) ;
  display: flex;
  gap:2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
#header-nav img{
  width: 100px;
  height: auto;
}
#lista-header {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  list-style: none;
  margin-right: 1rem;
  gap:1rem;


}

#lista-header>li>a {
  text-decoration: none;
  text-transform: capitalize;

}

footer {
  background-color: rgb(0, 121, 255) ;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  padding: 2rem;
  
  

}

/*footer*/
#lista-footer{
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  list-style: none;
gap:1rem;

}


#lista-footer>li>a {
  text-decoration: none;
  text-transform: capitalize;

}


/*pagina principal modificaciones*/
#main-index{
  width: 100vw;
  height: 100vh;
  background-image: url("../img/spiderman-gd3c7c6227_640.png");
  background-attachment: fixed;
  background-position: 0%;
}
#container-card{
  display: flex;
  flex-wrap: wrap;
  gap:3rem;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-transform: capitalize;

}
#container-card article{
  backdrop-filter: blur(25px);
padding: 2rem;
border-radius: 10%;  
box-shadow: 0.2em 0.2em 5px gold;
}
#container-card article>ul{
  list-style: none;
}
/*mayor a tam movil */
@media screen and (width>600px) {
  html {
    font-size: 100%;

  }
  #header-nav,footer{
    flex-direction: row;
    justify-content: space-between;
  }
  #lista-header,#lista-footer{
    flex-direction: row;
  }

}